.card-list {
	display: flex;
	max-width: 1400px;
	margin: auto;
	padding: 0 20px;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;

	.card-container {
		* {
			transition: 0.2s;
		}

		&:hover {
			* {
				transform: translateY(-10px);
			}
		}
	}
}
